@charset "utf-8";
/*----------银行列表1231231--------*/
.bank-link,.SB,.bk {
    background:url("bankicon.png")/*tpa=http://www.shtx168.com/images/bankicon.png*/ no-repeat 1000px 1000px;
    display:block;
    height:30px;
    width:120px;
    border: 1px solid #dddddd;
}
label.current .bank-link
{
    border: 0;
}
.kt .bank-link
{
    border: 0;
}
.ABCKT, .ABCCC, .ABCKTKT,
.abc101,.abc901,.ABCKTKT,       .ABCMB2C
{   /* 特殊列表中 */
    background-position:-5px -6px;
}
.abc102
 {
    background-position:-5px -780px;
}
.CCBKT,
.ccb103, .ccb901, .ccb301,.CCBDPAYKT ,.ccb102,.ccb701,.ccb105
{   /* 特殊列表中 */
    background-position:-5px -46px;
}

.ccb104
 {
    background-position:-5px -2369px;
}
.CEBKT,.CEBCKT,
.ceb102, .ceb9011,.ceb301,.ceb101,.ceb9012
{
    background-position:-5px -86px;
}
.cmbc101, .CMBCKT, .CMBCCC, .CMSBKT,.CMBCMB2C,.CMBCBCC
{   /* 特殊列表中 */
    background-position:-5px -126px;
}
.comm102, .COMMKT, .comm301, .BOCMKT,.comm101
{    /* 特殊交通银行 */
    background-position:-5px -166px;
}
.gdb102, .GDBKT, .gdb301, .GDBKTKT,.gdb101
{        /* 特殊广州发展 */
    background-position:-5px -206px;
}
.GDBB2B
{
    background-position:-5px -661px;
}
.CITICKT, 
.citic101, .citic901, .citic302,.CCBANKKT,.citic102,.citic103,.CITICBCC,.CITICSCC
{  /* 特殊中信银行 */
    background-position:-5px -246px;
}
.SDBKT,.sdb101,.sdb102, .sdb901, .SDBCC, .SDBKTKT,.SDBMB2C
{                   /* 特殊深发展 */
    background-position:-5px -286px;
}

.spdb103, .SPDBKT,.SPDBCC,.SPDBKTKT,.spdb101,.spdb301
 {    /* 特殊浦东发展银行 */
    background-position:-5px -326px;
}
.SPDBB2B,
.spdb102
{
    background-position:-5px -621px;
}
.ICBCKT, 
.icbc101, .icbc901, .icbc301, .ICBCKTKT,.icbc103,.icbc104,.icbc105,.icbc701
{  /* 特殊列表中 */
    background-position:-5px -366px;
}

.icbc102
 {
    background-position:-5px -531px;
}
.CMBKT, 
.cmb103, .cmb901, .cmb301,.CMBKTKT ,.cmb101,.cmb302
{    /* 特殊列表中 */
    background-position:-5px -406px;
}
.CIBB2C, .CIBKT,.cib301,.CIBKTKT,.cib10,.cib103,.cib101
{  /* 特殊兴业银行 */
    background-position:-5px -446px;
}
.POSTGCB2C, .POSTGCKT, .POSTGCCC ,.POSTGCMB2C{
    background-position:-5px -486px;
}
.PSBCKT, 
.psbc901,.PSBCCC,.psbc101,.PSBCMB2C,.psbc102 ,.psbc301
{
    background-position:-5px -486px;
}
.VISA, .VISACC, .VISAB2C, .VISAKT ,.VISAMB2C{
    background-position:-5px -696px;
}

.ICBCPer, .ICBCPerKT, .ICBCPerB2C,.icbc104
 {
    background-position:-5px -576px;
}

.abc1001
 {
    background-position:-5px -2542px;
}
.ABCPer,
.ABCPer
{
    background-position:-5px -741px;
}

.BOC, .BOCKT,.boc901, .boc102, .boc301, .BOCKTKT, .BOCB2CKT, .BOCCCLKT,.bocccl901,.bocccl902,.boc101 ,.BOCCCLBCC ,.BOCCCLSCC,.BOCSHKT,.boc701
 {   /* 特殊列表 中国银行 */
    background-position:-5px -821px;
}

.BJRCB, .bjrcb101, .BJRCBKT,.bjrcb901, .BJRCBCC ,.BJRCBMB2C
{
    background-position:-5px -900px;
}
.HZCBKT ,
.HZCB, .hzcb101, .HZCBCC, .hzcb901 ,.HZCBMB2C
{
    background-position:-5px -862px;
}
/* 新增，no-前缀和空白行为图片中有， 但是在机构接口表中查不到的, */

.EGBANKKT,
.EGBANKB2C, .EGBANKCC, .egbank901,.EGBANKMB2C
{
    background-position:-5px -936px;
}   /* 恒丰 */
.czbank901, .CZBANK, .CZBANKB2C, .CZBANKCC,.CZBANKMB2C,.CZBANKKT
 {
    background-position:-5px -975px;
}   /* 浙商 */
.BOHAIBKT, .BOHAIB, .BOHAIBB2C, .BOHAIBCC ,.BOHAIBMB2C
{
    background-position:-5px -1009px;
}   /* 渤海 */
/* .no-VISAKT{background-position:-5px -1045px;}  mastercard 暂不用 */
.SPABANKKT, 
.spabank901, .SPABANK, .spabank101, .spabank301 ,.SPABANKMB2C
{
   background:url("zhifubao.gif")/*tpa=http://www.shtx168.com/pay/images/zhifubao.gif*/;
}  /* 平安 */

.SHBANKB2C, .SHBANKCC, .SHBANKKT ,.shbank101,.shbank301
{
    background:url("caifutong.gif")/*tpa=http://www.shtx168.com/pay/images/caifutong.gif*/;
} /* 上海银行 */
.NBBANKKT, 
.nbbank901, .NBBANK, .nbbank101, .NBBANKCC ,.NBBANKMB2C
{
    background-position:-5px -1163px;
} /* 宁波 */
.NJCBKT,
.njcb901, .NJCB, .NJCBB2C, .NJCBCC ,.NJCBMB2C
{
    background-position:-5px -1244px;
} /* 南京 */
.HANKOUB, .HANKOUBKT, .HANKOUBCC, .HANKOUBB2C,.HANKOUBMB2C {
    background-position:-5px -1284px;
} /* 武汉商业银行更名为“汉口银行”*/
.BJRCB.BJRCBKT, .BJRCBB2C, .BJRCBCC ,.BJRCBMB2C{
    background-position:-5px -1316px;
}/* 北京农商行 */
.SHRCB, .SHRCBKT, .SHRCBCC, .SHRCBB2C ,.SHRCBMB2C{
    background-position:-5px -1350px;
} /* 上海农村 */
.CQBANKKT, .CQBANK, .CQBANKB2C, .CQBANKCC ,.CQBANKMB2C{
    background-position:-5px -1390px;
} /* 重庆 */
.WZCBKT, .WZCB, .WZCBB2C, .WZCBCC ,.WZCBMB2C{
    background-position:-5px -1428px;
} /* 温州 */
.HSBANKKT, .HSBANK, .HSBANKB2C, .HSBANKCC ,.HSBANKMB2C{
    background-position:-5px -1266px;
} /* 徽商 */
.CSCBKT, .CSCB, .CSCBB2C, .CSCBCC ,.CSCBMB2C{
    background-position:-5px -1506px;
} /* 长沙 */
.QDCCBKT, .QDCCB, .QDCCBB2C, .QDCCBCC ,.QDCCBMB2C{
    background-position:-5px -1540px;
}  /* 青岛 */
/*  王维说暂时不要了，也查不到
.no-jinzhou{background-position:-5px -1577px;} 荆州
.no-jinan{background-position:-5px -1619px;}  济南
.no-jiaozhuo{background-position:-5px -1656px;} 焦作
.no-qishang{background-position:-5px -2141px;}  齐商
*/
.TZCBKT, .TZCB, .TZCBB2C, .TZCBCC ,.TZCBMB2C{
    background-position:-5px -1692px;
}  /* 台州 */
.JXBANKKT, .JXBANK, .JXBANKB2C, .JXBANKCC,.JXBANKMB2C {
    background-position:0 -2619px;
}  /* 嘉兴 */
.CSRCBKT, 
.csrcb901, .CSRCB, .CSRCBB2C, .CSRCBCC ,.CSRCBMB2C
{
    background-position:-5px -1762px;
}  /* 常熟 */

.YCCBKT,
.yccb901, .YCCB, .YCCBB2C, .YCCBCC ,.YCCBMB2C
{
    background-position:-5px -1796px;
}  /* 宜昌 */
.NHBKT,
.nhb901, .NHB, .NHBB2C, .NHBCC ,.NHBMB2C
{
    background-position:-5px -1832px;
} /* 南海 */
.CZRCBKT, 
.czrcb901, .CZRCB, .CZRCBB2C, .CZRCBCC ,.CZRCBMB2C
{
    background-position:-5px -1868px;
} /* 常州 */
.GYCBKT,
.gycb901, .GYCB, .GYCBB2C, .GYCBCC ,.GYCBMB2C
{
    background-position:-5px -1899px;
}   /* 贵州 */
.SXCBKT, .SXCB, .SXCBB2C, .SXCBCC ,.SXCBMB2C
{
    background-position:-5px -1934px;
}   /* 绍兴 */
.H3CBKT, 
.h3cr901, .H3CB, .H3CBB2C, .H3CBCC ,.H3CBMB2C
{
    background-position:-5px -1968px;
}   /* 呼和浩特 */
.WJRCBKT, 
.wjrcb901, .WJRCB, .WJRCBB2C, .WJRCBCC ,.WJRCBMB2C
{
    background-position:-5px -1998px;
}  /* 吴江 */
.ZYCBANKKT, 
.zycbank901, .ZYCBANK, .ZYCBANKB2C, .ZYCBANKCC ,.ZYCBANKMB2C
{
    background-position:-5px -2036px;
}   /* 遵义 */
.SDEBKT, 
.sdb901, .SDEB, .SDEBB2C, .SDEBCC ,.SDEBMB2C
{
    background-position:-5px -2074px;
}   /* 顺德 */
.FDBKT,.fdb101,
.fdb901, .FDB, .FDBB2C, .FDBCC ,.FDBMB2C
{
    background-position:-5px -2110px;
}   /* 富滇 */
.URMQCCBKT, 
.urmqccb901,.URMQCCB, .URMQCCBB2C, .URMQCCBCC,.URMQCCBMB2C
{
    background-position:-5px -2185px;
}    /* 乌鲁木齐 */
.HZCCBKT, 
.hzccb901,.HZCCB, .HZCCBB2C, .HZCCBCC ,.HZCCBMB2C
{
    background-position:-5px -2220px;
}   /* 湖州 */
.DAQINGBKT, 
.daqingb901, .DAQINGB, .DAQINGBB2C, .DAQINGBCC ,.DAQINGBMB2C
{
    /* background-position:-5px -2254px; 大庆商业银行改名为龙江银行 */
    background-position:-5px -2501px;
}   /* 大庆 */
.HKBEAKT, 
.hkbea901, .HKBEA, .HKBEAB2C, .HKBEACC ,.HKBEACC
{
    background-position:-5px -2293px;
}   /* 东亚 */
.HXBANKKT, 
.hxbank901, .HXBANK, .HXBANKB2C, .HXBANKCC ,.HXBANKMB2C,.HXBANKSCC,.HXBANKBCC
{
    background-position:-5px -2330px;
} /* 华夏银行 */
.ZBCBKT, 
.zbcb901, .ZBCB, .ZBCBB2C, .ZBCBCC ,.ZBCBMB2C
{
    background-position:-5px -2146px;
} /* 齐商银行（原 淄博市商业银行） */
.DRCBCLKT ,
.drcbcl901
{
    background-position:-1px -2467px;
} /* 东莞农村商业银行 */
.abc1002 /* mastercard */
{
    background-position:0 -1048px;
}
.ngs101
{
	background-position:-5px -2579px;
}
.cash-ngs101,.NGSCSC
{
	background-position:0 -877px;
	height:34px;
	width:148px;
}
.cash-okc101
{
	background-position:0 -136px;
	height:38px;
	width:148px;
}
/** 成都银行 **/
.CDCBKT
{
	background-position:0 -2659px;
}
/** 浙江农信 **/
.ZJNXKT
{
	background-position:0 -2696px;
}
/** 广州银行 **/
.GCBKT
{
	background-position:0 -2737px;
}
/** 廊坊银行 **/
.LANGFBKT {
	background-position:0 -2774px;
}

/** 广东省农村信用合作社 **/
.GDRCCKT {
	background-position:0 -2810px;
}

/** 江苏省农村信用合作社 **/
.JSRCUKT {
	background-position:-5px -2872px;
}

/** 辽阳银行 **/
.LYCB, .LYCBKT {
	background-position:5px -2841px;
}

/** 德阳市商业银行 **/
.DYCB, .DYCBKT {
	background-position:5px -2905px;
}

/** 晋中市商业银行  **/
.JZBANK, .JZBANKKT {
	background-position:0px -2937px;
}

/*----------------------getaway-------------------------*/
.fm-input span.count label { border: 0!important;}
.fm-input span.count-cartoon label em { width: 122px!important; }
