.babytext{
    height: 45px;
	font-size: 40px;
		letter-spacing: -2px; 
}

.babycoone{
	margin-top:12px;
}
.babycontainer{
	height:75px;
	width: 80%;
	margin: 0 auto;
}
.keys h1 {
    font-size:32px;
}
.babycontactc{
		max-width:680px;
	margin: auto;
}
