/*!
	my base css  ryan
 */
@font-face {
  font-family: "fontawefont";
  src: url("../font/fontawefont.eot");
  src: url("../font/fontawefont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../font/fontawefont.woff") format("woff"), /* chrome、firefox */ url("../font/fontawefont.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url("../font/fontawefont.svg#svgFontName") format("svg");
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconawefont {
  font-family: "fontawefont";
  font-size: 14px;
  font-style: normal;
}
@font-face {
  font-family: 'iiconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff') format('woff'), /* chrome、firefox */ url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg#uxiconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.iiconfont {
  font-family: "iiconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.pagination {
  height: 25px;
  line-height: 25px;
  -webkit-text-size-adjust: none;
}
.pagination .pagination-info {
  float: left;
  color: #666;
}
.pagination .pagination-info span {
  float: left;
}
.pagination .pagination-info .dropdown {
  float: left;
  margin: 0 5px;
  height: 23px;
  line-height: 23px;
}
.pagination .pagination-info .dropdown .dropdown-list {
  top: 24px;
}
.pagination .b {
  font-weight: bold;
  margin: 0 5px;
}
.pagination .mr {
  margin-left: 12px;
}
.pagination .pagination-pages {
  float: right;
}
.pagination .pagination-page {
  float: left;
}
.pagination .pagination-page a.page {
  float: left;
  margin-right: 5px;
  padding: 0px 8px;
  color: #999;
  height: 23px;
  line-height: 23px;
  text-decoration: none;
  border: 1px solid #dddddd;
}
.pagination .pagination-page a.page:hover {
  padding: 0px 8px;
  border: 1px solid #1b1464;
  background-color: #1b1464;
  color: #ffffff;
  text-decoration: none;
}
.pagination .pagination-page .page-simply {
  float: left;
  margin: 0 10px;
}
.pagination .pagination-page .page-cur {
  padding: 0px 8px;
  border: 1px solid #1b1464;
  background-color: #1b1464;
  color: #ffffff;
  margin-right: 5px;
  float: left;
  height: 23px;
  line-height: 23px;
}
.pagination .pagination-page .page-split {
  padding: 1px 6px;
  float: left;
  height: 23px;
  line-height: 23px;
}
.pagination .pagination-page .page-prev,
.pagination .pagination-page .page-next {
  border: 1px solid #dddddd;
  float: left;
  margin-right: 5px;
  padding: 0px 5px;
  color: #999;
  height: 23px;
  line-height: 23px;
  text-decoration: none;
}
.pagination .pagination-page .page-prev i,
.pagination .pagination-page .page-next i {
  font-size: 12px;
  float: left;
}
.pagination .pagination-page .page-prev .iconfont,
.pagination .pagination-page .page-next .iconfont {
  cursor: pointer;
}
.pagination .pagination-page .page-prev span,
.pagination .pagination-page .page-next span {
  float: left;
}
.pagination .pagination-page .page-next {
  margin-right: 0;
}
.pagination .pagination-page .page-prev:hover,
.pagination .pagination-page .page-next:hover {
  padding: 0px 5px;
  color: #999999;
  border: 1px solid #dddddd;
  background-color: #f8f8f8;
  text-decoration: none;
}
.pagination .pagination-count {
  float: left;
  margin-left: 7px;
  margin-right: 10px;
}
.pagination .pagination-form {
  float: left;
  margin-left: 35px;
}
.pagination .pagination-form input {
  margin-bottom: 0px;
  width: 20px;
  margin: 0 5px;
  display: inline-block;
  height: 18px;
  padding: 2px 8px 3px;
  line-height: 18px;
  color: #101010;
  border: 1px solid #dddddd;
  border-top-color: #bbbbbb;
  vertical-align: top;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.pagination .pagination-form input:hover {
  border-color: #d0d0d0;
  border-top-color: #acacac;
  -webkit-box-shadow: inset 0 1px #f5f5f5;
  -moz-box-shadow: inset 0 1px #f5f5f5;
  box-shadow: inset 0 1px #f5f5f5;
}
.pagination .pagination-form input:focus {
  border-color: #488fcd;
  outline: 0;
  -webkit-box-shadow: 0 0 8px rgba(72,143,205,.6);
  -moz-box-shadow: 0 0 8px rgba(72,143,205,.6);
  box-shadow: 0 0 8px rgba(72,143,205,.6);
}
.pagination .pagination-form .btn {
  margin-left: 5px;
  cursor: pointer;
  text-decoration: none;
}
.pagination .pagination-form .btn:hover {
  text-decoration: none;
}
a {
  color: #000000;
}
.clear {
  *zoom: 1;
}
.clear:before,
.clear:after {
  display: table;
  content: "";
  line-height: 0;
}
.clear:after {
  clear: both;
}
li {
  list-style: none;
}
.c-lighter {
  color: #838f93!important;
}
.c-green {
  color: #006837!important;
}
.c-blue {
  color: #2378cf!important;
}
.c-red {
  color: #ff4800!important;
}
.c-edit {
  background: #2378cf;
  color: #ffffff;
  padding: 5px;
  font-size: 16px;
}
.fr {
  float: right;
}
.f14 {
  font-size: 14px!important;
}
.f16 {
  font-size: 16px!important;
}
.f18 {
  font-size: 16px!important;
}
.f24 {
  font-size: 20px!important;
}
.es-box .es-ls .ls-item {
  float: left;
  width: 130px;
}
.es-box .es-ls .ls-item a,
.es-box .es-ls .ls-item p {
  text-align: center;
  display: block;
}
.es-box .es-ls .ls-item a {
  text-align: center;
}
.es-box .es-ls .ls-item a img {
  height: 55px;
}
.es-box .es-ls .ls-item p {
  color: #eb7e02;
  font-weight: bold;
  height: 48px;
  line-height: 24px;
  overflow: hidden;
}
.es-box .es-shows img {
  width: 100%;
}
.es-box .es-shows .es-name {
  background: #1b1464;
  color: #ffffff;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  padding: 0 10px;
  margin: 5px 0;
  width: 200px;
}
.es-box .es-shows .es-txt {
  padding: 5px;
  line-height: 22px;
  color: #838f93;
}
.es-box .mmore {
  width: 1000px;
  height: 46px;
  line-height: 46px;
  border-bottom: 1px dotted #efefef;
}
.es-box .mmore li {
  float: left;
  list-style: none;
  padding: 0 5px;
}
.es-box .mmore a {
  color: #838f93;
}
.es-box .row-date li.row-item {
  position: relative;
}
.es-box .row-date li.row-item em {
  position: absolute;
  right: 10px;
  top: 0px;
  color: #949ea1;
  font-style: normal;
}
.es-box .tls {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
}
.es-box .pns {
  background: #e6e6e6;
  padding: 15px 0 15px 15px;
}
.es-box .pns .pns-fuwu {
  width: 228px;
  height: 220px;
  float: left;
  margin-top: 7px;
}
.es-box .pns .pns-fuwu ul {
  padding-left: 0px;
}
.es-box .pns .pns-fuwu .pn-w {
  background: #f8f8f8;
  width: 207px;
  height: 98px;
  margin-bottom: 10px;
}
.es-box .pns .pns-fuwu .pn-w .w-l {
  float: left;
  width: 98px;
  height: 98px;
  overflow: hidden;
}
.es-box .pns .pns-fuwu .pn-w .w-l img {
  width: 98px;
  height: 98px;
}
.es-box .pns .pns-fuwu .pn-w .w-r {
  float: left;
  width: 108px;
  padding: 10px 0;
}
.es-box .pns .pns-fuwu .pn-w .w-r span {
  display: block;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #838f93;
  font-family: "微软雅黑";
}
.es-box .pns .pns-fuwu .pn-w .w-cc span {
  color: #2378cf;
}
.es-box .pns .pns-apps {
  float: left;
  width: 340px;
}
.es-box .pns .pns-apps ul {
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 20px;
}
.es-box .pns .pns-apps ul li {
  float: left;
  width: 70px;
  height: 94px;
  overflow: hidden;
  margin: 5px 10px 5px 5px;
}
.es-box .pns .pns-apps ul li img {
  width: 70px;
}
.es-box .pns .pns-apps ul li .pns-jichu {
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  font-size: 14px;
}
.es-box .es-rows {
  background: #e6e6e6;
  padding-top: 15px;
}
.es-box .mcart {
  width: 172px;
  height: 180px;
  overflow: hidden;
  background: url('../images/m_zx.png') left top no-repeat;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.es-box .es-zp li {
  position: relative;
  margin: 5px 0;
}
.es-box .es-zp li em {
  position: absolute;
  right: 10px;
  top: 0px;
  color: #949ea1;
  font-style: normal;
}
.es-box .es-line {
  color: #838f93;
  padding: 10px 0;
  line-height: 24px;
}
.es-box .es-line .es-line-l {
  float: left;
  width: 150px;
  padding: 5px 0;
}
.es-box .es-line .es-line-r {
  float: left;
  width: 900px;
  border-bottom: 1px dotted #efefef;
  padding: 5px 0;
}
.es-box .es-line .es-line-r span {
  padding: 0 5px;
}
.es-box .es-line .es-line-r span a {
  color: #838f93;
}
.es-box .zs-txt li {
  position: relative;
  margin: 5px 0;
  height: auto;
  line-height: 30px;
}
.es-box .es-coms li {
  height: 52px;
  line-height: 42px;
}
.es-box .es-coms li span {
  margin-left: 15px;
  color: #3d3d3d;
}
.es-mems {
  padding-left: 15px;
  padding-top: 10px;
}
.es-mems li.es-ms {
  height: auto;
  line-height: auto;
  background: #e6e6e6;
  width: 29.333%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin: 0 5px 5px 5px;
}
.es-mems li.es-ms img {
  width: 100%;
}
.es-mems li.es-ms p {
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
#footer-fir {
  background: #838f93;
  color: #ffffff;
}
#footer-fir img {
  max-height: 160px;
}
#footer-fir p,
#footer-fir a {
  color: #e6e6e6!important;
}
#footer-fir .site-footer-links {
  padding-left: 127px;
}
#footer-fir .site-footer-links a {
  color: #1b1464!important;
}
#footer-fir .site-footer-logo img {
  width: 80px;
}
@media (max-width: 768px) {
  .time-tool {
    display: none;
  }
  .time-ca {
    display: none;
  }
  .col-me {
    width: 100%!important;
  }
  .col-me li {
    width: 100%!important;
  }
  .es-uls {
    width: 100%;
  }
  .es-box .es-ls .ls-item {
    float: left;
    width: 50%;
  }
  .es-box .pns .pns-apps ul li {
    width: 25%;
  }
  .pns-apps ul {
    padding-left: 20px!important;
  }
  .es-box .pns {
    padding: 15px 0 15px 15px;
  }
  .es-box .pns .pns-fuwu {
    width: 100%;
    height: auto;
    *zoom: 1;
  }
  .es-box .pns .pns-fuwu:before,
  .es-box .pns .pns-fuwu:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .es-box .pns .pns-fuwu:after {
    clear: both;
  }
  .es-box .pns .pns-fuwu .pn-w {
    width: 100%;
    height: auto;
  }
  .es-box .pns .pns-fuwu .pn-w .w-l {
    width: 40%;
    height: auto;
  }
  .es-box .pns .pns-fuwu .pn-w .w-l img {
    width: 100%;
    height: auto;
  }
  .es-box .pns .pns-fuwu .pn-w .w-r {
    width: 60%;
  }
  .es-box .pns .pns-apps ul li {
    width: 26%;
  }
}
.dropdown-menu {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}
.pn-list {
  padding-left: 25px;
  padding-top: 15px;
}
.pn-list li {
  float: left;
  width: 142px;
  background: #f7f8f8;
  margin-right: 10px;
  margin-bottom: 10px;
}
.pn-list li img {
  width: 100%;
}
.pn-list li p {
  line-height: 44px;
  text-align: center;
  font-size: 14px;
  color: #000000;
}
.es-ke .es-kitem {
  background: #e6e6e6;
  margin-bottom: 20px;
}
.es-ke .es-kitem .es-kitl {
  float: left;
  width: 55%;
}
.es-ke .es-kitem .es-kitl img {
  width: 100%;
}
.es-ke .es-kitem .es-kitr {
  width: 45%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding-left: 30px;
}
.es-ke .es-kitem .es-kitr h3 {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  margin-top: 25px;
}
.es-ke .es-kitem .es-kitr p {
  color: #838f93;
  height: 22px;
  line-height: 22px;
  text-align: left;
}
.es-ke .es-kitem .es-kitr .es-kp {
  margin-top: 10px;
}
.es-news {
  margin-bottom: 20px;
}
.es-news h3 {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  border-top: 1px solid #cccccc;
  line-height: 40px;
  padding-top: 10px;
}
.es-news .es-time {
  height: 22px;
  line-height: 22px;
  color: #1b1464;
}
.es-news .es-nl-txt {
  line-height: 28px;
  color: #3d3d3d;
  padding: 10px 0;
  font-size: 16px;
}
.es-news .es-nr img {
  width: 100%;
}
.nav .nav-tl {
  color: #1b1464;
  font-weight: bold;
  padding: 10px 15px;
}
.es-maps li {
  float: left;
  color: #838f93;
  width: 33%;
  height: 24px;
  line-height: 24px;
  padding: 5px 0;
  margin: 0;
}
.es-maps li a {
  display: inline-block !important;
  vertical-align: middle;
  color: #838f93!important;
  margin-left: 5px;
}
.stats p {
  padding: 10px 0;
}
.row-txt {
  margin-bottom: 20px;
}
.row-txt .r-tl {
  height: 32px;
  line-height: 32px;
  position: relative;
  border-bottom: 1px solid #cccccc;
}
.row-txt .r-tl h3 {
  height: 32px;
  line-height: 32px;
  width: 100px;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-bottom: 2px solid #345b8d;
}
.row-txt .r-bd {
  padding: 10px 0;
  color: #838f93;
  line-height: 22px;
}
.article-row {
  margin-bottom: 20px;
}
.es-nl-img {
  margin: 10px 0;
}
.es-nl-img img {
  width: 100%;
}
.es-ns-more .hd {
  color: #2378cf;
  font-weight: bold;
}
.es-ns-more .hd h2 {
  font-size: 16px;
}
.es-ns-more .bd ul {
  padding-left: 10px;
  padding-top: 10px;
}
.es-ns-more .bd li {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #838f93;
}
.es-ns-more .bd li i {
  position: relative;
  top: -2px;
  margin-right: 5px;
}
.es-ns-more .bd li a {
  color: #838f93;
}
.p-ols {
  padding-left: 0px;
}
.p-ols li {
  float: left;
  font-size: 16px;
  margin-right: 15px;
}
.p-ols li a {
  color: #345b8d;
}
.p-ols li.active a {
  color: #838f93;
}
.pns-list {
  padding-left: 0px;
}
.pns-list .pns-item {
  padding: 15px 0;
}
.pns-list .pns-item .pns-ls img {
  width: 100%;
}
.pns-list .pns-item .pns-box h3 {
  font-size: 14px;
  color: #000000;
  margin-bottom: 10px;
  font-weight: bold;
}
.pns-list .pns-item .pns-box p {
  font-size: 12px;
}
.panel-heading {
  position: relative;
}
.panel-heading .more {
  position: absolute;
  top: 9px;
  right: 9px;
}
.es-status .media-body a {
  display: block;
}
.m-e li {
  padding: 10px 0;
}
.m-e li .media-body {
  margin-top: 15px;
}
.es-context {
  padding: 10px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}
.es-context .es-chd h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.es-context .es-cbd {
  color: #838f93;
  font-size: 14px;
  margin-bottom: 5px;
}
.es-context .es-cfd {
  color: #1b1464;
  margin-bottom: 5px;
}
.ask-answer {
  margin-bottom: 10px;
}
.ask-answer .a-box {
  border: 1px solid #cccccc;
  padding: 10px;
}
.ask-answer .a-box .a-line,
.ask-answer .a-box .s-line {
  position: relative;
  padding: 10px 0 10px 45px;
}
.ask-answer .a-box .a-line em,
.ask-answer .a-box .s-line em {
  position: absolute;
  left: 8px;
  top: 10px;
  font-weight: bold;
  font-size: 20px;
  font-style: inherit;
}
.ask-answer .a-box .a-line p,
.ask-answer .a-box .s-line p {
  line-height: 18px;
  color: #838f93;
}
.c-find {
  padding: 10px;
}
.c-find .nav-list .nav .nav-tl {
  padding: 5px;
}
.c-find .nav-list .nav li a {
  padding: 5px;
}
.ask-cats li {
  float: left;
  height: 24px;
  line-height: 24px;
  padding: 5px 0;
  padding-right: 10px;
}
.ask-cats li a {
  color: #345b8d!important;
}
.ask-cats li.active a {
  color: #838f93!important;
}
.es-zx .es-ns-more li {
  margin-bottom: 10px;
}
.month-tl {
  height: 92px;
  background: #e2a25d;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
.month-tl .month-l {
  float: left;
  width: 50%;
}
.month-tl .month-l .m-t1 {
  margin-top: 10px;
  color: #ffffff;
  font-size: 16px;
  padding-left: 10px;
}
.month-tl .month-l .m-t2 {
  margin-top: 20px;
  color: #ffffff;
  font-size: 24px;
  padding-left: 10px;
}
.month-tl .month-r {
  float: left;
  width: 50%;
  font-size: 60px;
  text-align: right;
  font-weight: bold;
  color: #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding-right: 10px;
}
.memcon .es-box {
  margin-bottom: 10px;
  padding: 10px;
}
.memcon .es-box h2 {
  margin-left: -8px;
  margin-bottom: 20px;
  padding-left: 10px;
}
.memcon .es-box .es-uls li {
  margin-bottom: 10px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  width: 130px;
}
.memcon .es-box .es-uls li a {
  padding-left: 5px;
  height: 32px;
  line-height: 32px;
  color: #2378cf;
}
.memcon .es-box .es-uls li.active {
  background: #1b1464;
}
.memcon .es-box .es-uls li.active a {
  color: #ffffff;
}
.mem-me .mem-hd img {
  width: 60%;
}
.mem-me .mem-bd {
  height: 32px;
  line-height: 32px;
}
.mem-me .mem-bd span {
  color: #1b1464;
}
.mem-me .mem-bd a {
  float: right;
  color: #838f93;
}
.m-sx {
  height: 240px;
  line-height: 240px;
  text-align: center;
  display: block;
}
.m-sx a {
  font-size: 42px;
  color: #838f93;
}
.panel-txt {
  padding: 10px;
}
.panel-txt .nav-list {
  min-height: 230px;
  padding-left: 0px;
}
.panel-txt .nav-list li {
  height: 48px;
  line-height: 48px;
  margin-bottom: 10px;
}
.panel-txt .nav-list li a {
  background: #f7f8f8;
  display: block;
  color: #838f93;
  text-align: center;
  font-size: 20px;
  height: 48px;
  line-height: 48px;
}
.panel-txt .nav-list li a:hover {
  text-decoration: none;
}
.panel-txt .nav-list li.active a {
  background: #1b1464;
  color: #ffffff;
}
.panel-txt .fabu {
  padding-left: 0px;
}
.panel-txt .fabu .fabu-item {
  display: block;
  height: 40px;
  line-height: 40px;
  width: 100%;
  margin: 15px 0;
  float: left;
}
.panel-txt .fabu .fabu-item .fm1 {
  color: #838f93;
  font-size: 42px;
  padding-left: 15px;
}
.panel-txt .fabu .fabu-item .fmc1 {
  color: #1b1464;
}
.panel-txt .fabu .fabu-item .fm2 {
  float: right;
  font-size: 18px;
  color: #838f93;
  padding-right: 15px;
}
.panel-txt .fabu-line {
  padding-top: 50px;
  min-height: 200px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.panel-txt .fabu-line .fabu-item {
  width: 32%;
  height: 80px;
  line-height: 40px;
}
.panel-txt .fabu-line .fabu-item .fm1 {
  display: block;
  height: 45px;
  line-height: 45px;
  width: 100%;
  text-align: center;
  padding-left: 0px;
}
.panel-txt .fabu-line .fabu-item .fm2 {
  display: block;
  height: 35px;
  line-height: 35px;
  width: 100%;
  text-align: center;
  padding-right: 0px;
}
.col-me {
  width: 25%;
  float: left;
}
.col-me .col-box {
  margin: 5px;
}
.col-box .panel-txt .fabu-item {
  width: 100%;
}
.i-checks input {
  opacity: 0;
}
.i-checks input:checked + i {
  border-color: #177bbb;
}
.i-checks input:checked + i:before {
  color: #177bbb;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  left: 0;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 100%;
}
.i-checks input[type="radio"] + i {
  border-radius: 100%;
}
.i-checks input[type="checkbox"]:checked + i:before {
  content: "";
}
.i-checks input[type="radio"]:checked + i:before {
  content: "";
}
.i-checks input[disabled] + i,
fieldset[disabled] .i-checks input + i {
  border-color: #dbe2e7;
}
.i-checks input[disabled] + i:before,
fieldset[disabled] .i-checks input + i:before {
  color: #cbd5dd;
}
.i-checks i {
  background-color: #fff;
  border: 1px solid #cbd5dd;
  display: inline-block;
  font-size: 12px;
  height: 18px;
  line-height: 1;
  margin-left: -20px;
  margin-right: 4px;
  margin-top: -2px;
  position: relative;
  vertical-align: middle;
  width: 18px;
}
.ie8 .i-checks i {
  display: none;
}
.table-head {
  height: 70px;
  line-height: 30px;
  padding: 15px;
}
.table-head .checkbox {
  display: inline-block;
  vertical-align: middle;
}
.table-head .check-all {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.table-head .ck-del {
  background: #838f93;
  padding: 5px 10px;
  color: #ffffff;
  font-size: 18px;
}
.table-head .add-btn {
  float: right;
  background: #2378cf;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
}
.table-ee th {
  font-size: 18px;
  font-weight: bold;
}
.table-ee tr td {
  line-height: 40px;
}
.m-item {
  *zoom: 1;
  margin-bottom: 30px;
}
.m-item:before,
.m-item:after {
  display: table;
  content: "";
  line-height: 0;
}
.m-item:after {
  clear: both;
}
.m-item .m-date {
  padding: 5px 0;
  font-size: 18px;
}
.m-txts {
  color: #838f93;
}
.m-txts p {
  line-height: 28px;
  padding: 2px 0;
}
.media-heading {
  padding-bottom: 10px!important;
  border-bottom: 1px solid #f1f1f1;
  position: relative;
}
.media-heading:before {
  position: absolute;
  height: 4px;
  background: #2378cf;
  width: 80px;
  content: "#";
  color: #2378cf;
  overflow: hidden;
  bottom: 0px;
}
.es-newslist {
  color: #838f93;
}
.es-newslist .news-item .news-nhd {
  line-height: 32px;
  border-bottom: 1px solid #cccccc;
  padding: 5px 0;
  margin: 5px 0;
}
.es-newslist .news-item .news-nbd {
  padding: 5px 0;
  margin: 20px 0 25px 0;
}
.mini-nav .nav {
  position: relative;
  padding-left: 60px;
}
.mini-nav .nav-tl {
  padding: 5px 8px;
  margin-right: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.mini-nav li {
  margin-right: 10px;
}
.mini-nav li.active {
  margin-right: 10px;
}
.mini-nav li a {
  padding: 5px 8px;
}
.panel-title {
  font-weight: bold;
  font-size: 18px;
}
.free-fat {
  margin: 20px 0;
}
.le-r .le {
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 40px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #cccccc;
}
.le-r .le i {
  color: #849094;
}
.le-r .le.active,
.le-r .le:hover {
  background: #1b1464;
  border: 1px solid #1b1464;
}
.le-r .le.active i,
.le-r .le:hover i {
  color: #ffffff;
}
.le-r .l-txt {
  float: left;
  font-size: 16px;
  font-weight: bold;
}
.le-r .lr {
  float: left;
  width: 24px;
  height: 24px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #cccccc;
}
.le-r .lr i {
  color: #849094;
}
.le-r .lr.active,
.le-r .lr:hover {
  background: #1b1464;
  border: 1px solid #1b1464;
}
.le-r .lr.active i,
.le-r .lr:hover i {
  color: #ffffff;
}
.time-tool {
  height: 32px;
  line-height: 32px;
}
.time-tool .time-txt {
  float: left;
  font-weight: bold;
  font-size: 18px;
}
.time-tool .le-r {
  float: left;
  position: relative;
  top: 5px;
}
.time-tool .le-r li {
  line-height: 25px;
}
.time-tool .le-r li a {
  line-height: 25px;
}
.time-tool .le-r li a i {
  line-height: 25px;
}
.time-tool .ui-sel {
  float: left;
  border: 1px solid #cccccc;
  padding: 1px 5px;
  margin: 4px 10px 0 10px;
}
.time-ca .col-ca-box {
  margin-top: 20px;
  padding-left: 0px;
}
.time-ca .col-ca-box .day-time {
  float: left;
  width: 14.2857%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 0 10px;
}
.time-ca .col-ca-box .day-time div {
  background: #e6e6e6;
  height: 55px;
  color: #b0b0b0;
  text-align: center;
  line-height: 55px;
  font-family: "微软雅黑";
  font-size: 18px;
}
.time-ca .col-ca-box .day-time.day-0 div {
  background: #e71e2b;
  color: #ffffff;
}
.time-ca .col-day {
  padding-left: 0px;
}
.time-ca .col-day li {
  float: left;
  width: 14.2857%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 10px;
}
.time-ca .col-day li .day-box {
  border: 3px solid #f7f7f7;
  height: 115px;
  color: #b0b0b0;
  text-align: left;
  line-height: 32px;
  font-family: "微软雅黑";
  font-size: 18px;
  text-indent: 10px;
  position: relative;
}
.time-ca .col-day li.c-day-now .day-box {
  border: 3px solid #e2a25d;
}
.time-ca .col-day li.c-sport {
  position: relative;
}
.time-ca .col-day li.c-sport .day-box {
  text-indent: 0px;
}
.time-ca .col-day li.c-sport .day-box .day-t {
  height: 24px;
  line-height: 24px;
  color: #b0b0b0;
  font-family: "微软雅黑";
  font-size: 18px;
  text-indent: 10px;
}
.time-ca .col-day li.c-sport .day-box .day-line {
  line-height: 17px;
  font-size: 12px;
  font-family: "微软雅黑";
  max-height: 36px;
  position: relative;
  padding-left: 18px;
  color: #2378cf;
}
.time-ca .col-day li.c-sport .day-box .day-line span {
  position: absolute;
  left: 5px;
  top: 2px;
  color: #2378cf;
}
.time-ca .col-day li.c-sport .day-box .day-line.day-line-1 {
  border-bottom: 1px solid #fbfbfb;
}
.time-ca .col-day li.c-sport .day-box .day-more {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  background: #b0b0b0;
  color: #ffffff;
  padding: 0 5px;
}
.time-ca .col-day li.c-sport .day-box .day-more i {
  color: #ffffff;
  float: right;
  font-size: 12px;
}
.time-ca .col-day li.c-sport .shows-side {
  display: none;
  position: absolute;
  left: -100px;
  width: 345px;
  height: 215px;
  top: -175px;
  background: #ffffff;
  -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid #efefef;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 1000;
}
.time-ca .col-day li.c-sport.mhover .shows-side {
  display: block;
}
.device {
  width: 325px;
  height: 215px;
}
.device .arrow-left {
  background: url(../images/arrows.png) no-repeat left top #efefef;
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index: 100;
}
.device .arrow-right {
  background: url(../images/arrows.png) no-repeat left bottom #efefef;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index: 100;
}
.swiper-container {
  width: 325px;
  height: 215px;
}
.content-slide {
  padding: 10px;
  color: #fff;
}
.title {
  font-size: 25px;
  margin-bottom: 10px;
}
.pagination {
  text-align: center;
  width: 100%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}
.settings {
  border-top: 1px solid #cccccc;
}
.settings .settings-nav {
  width: 1000px;
  margin: auto;
}
.settings .settings-nav .hd {
  font-weight: bold;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  margin-top: 25px;
}
.settings .settings-nav .bd .set-line-area {
  margin: 20px 0;
  height: 75px;
}
.settings .settings-nav .bd .set-line-area label {
  width: 102px;
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  line-height: 38px;
  color: #666666;
  font-size: 13px;
}
.settings .settings-nav .bd .set-line-area label i {
  color: #ff4800;
  margin-right: 5px;
}
.settings .settings-nav .bd .set-line-area .set-box {
  width: 473px;
  display: inline-block;
  vertical-align: middle;
  height: 75px;
  position: relative;
}
.settings .settings-nav .bd .set-line-area .set-image {
  display: inline-block;
  vertical-align: middle;
  height: 75px;
  line-height: 75px;
  position: relative;
  border: 1px solid #dddddd;
  width: 143px;
  text-align: center;
  overflow: hidden;
}
.settings .settings-nav .bd .set-line {
  margin: 20px 0;
  height: 38px;
  line-height: 38px;
}
.settings .settings-nav .bd .set-line label {
  width: 102px;
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  line-height: 38px;
  color: #666666;
  font-size: 13px;
}
.settings .settings-nav .bd .set-line label i {
  color: #ff4800;
  margin-right: 5px;
}
.settings .settings-nav .bd .set-line .set-box {
  width: 260px;
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  position: relative;
}
.settings .settings-nav .bd .set-line .set-box .set-pass {
  border: 1px solid #e1dee0;
  background: #f1eff0;
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  color: #333333;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}
.settings .settings-nav .bd .set-line .set-box .u-sex {
  margin-right: 15px;
}
.settings .settings-nav .bd .set-line .set-box .up-img {
  border: 1px solid #e1dee0;
  background: #f1eff0;
  width: 100%;
  font-size: 13px;
  color: #999999;
  padding-left: 100px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  position: relative;
}
.settings .settings-nav .bd .set-line .set-box .up-img .up-file {
  border: 1px solid #959595;
  width: 74px;
  text-align: center;
  height: 24px;
  line-height: 24px;
  position: absolute;
  overflow: hidden;
  color: #333333;
  font-family: "微软雅黑";
  font-size: 13px;
  left: 10px;
  top: 5px;
  background: url('../images/bt_bg.png') left top repeat-x;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.settings .settings-nav .bd .set-line .set-box .up-img .up-file .i-file {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 24px;
  width: 100px;
  text-indent: -9999px;
  cursor: pointer;
}
.settings .settings-nav .bd .set-line .smsg {
  display: inline-block;
  vertical-align: middle;
  width: 210px;
  line-height: 38px;
  color: #999999;
  font-size: 13px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding-left: 10px;
}
.settings .settings-nav .bd .set-line .smsg-two {
  line-height: 19px;
}
.settings .settings-nav .bd .set-line .s-btn {
  background: #4b8cf7;
  border: 1px solid #3079ed;
  color: #eeeeee;
  height: 36px;
  line-height: 36px;
  width: 70px;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: bold;
}
.settings .settings-nav .bd .set-line .s-btn:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.settings .settings-nav .bd .set-line .s-btn i {
  font-size: 18px;
}
.u-select {
  padding: 7px;
  border: 1px solid #cccccc;
}
.u-txt {
  border: 1px solid #cccccc;
  height: 38px;
  line-height: auto;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  font-size: 14px;
  color: #333333;
  width: 100%;
  padding: 0 12px;
  outline: none;
}
.u-txt:focus {
  border: 1px solid #176cee;
}
.u-radio {
  position: relative;
  top: -1px;
  margin-right: 5px;
}
.u-area {
  border: 1px solid #cccccc;
  height: 74px;
  line-height: auto;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  font-size: 14px;
  color: #333333;
  width: 100%;
  padding: 5px 12px;
  outline: none;
  resize: none;
}
.u-area:focus {
  border: 1px solid #176cee;
}
.left-txt {
  text-align: left;
  padding: 0px;
  margin: 0px;
}
.right-txt {
  text-align: right;
  padding: 0px;
  margin: 0px;
}
.ceshi {
  font-size: 18px;
}
.cou-line {
  line-height: 32px;
  color: #cccccc;
}
.keshi {
  position: relative;
  padding: 5px 0 5px 65px;
}
.keshi img {
  position: absolute;
  left: 2px;
  top: 2px;
}
.nav-dd {
  padding: 0;
  margin: 0;
}
.nav-dd li {
  float: left;
  padding: 0;
  margin: 0;
  background: #e6e6e6;
  border: none;
  margin-right: 0px!important;
}
.nav-dd li a {
  background: #e6e6e6;
  color: #ffffff!important;
  font-size: 16px;
  height: 32px!important;
  line-height: 32px!important;
  padding: 0 10px!important;
  border: none!important;
}
.nav-dd li.active {
  background: #345b8d;
}
.nav-dd li.active a,
.nav-dd li.active a:focus,
.nav-dd li.active a:hover {
  background: #345b8d;
  border: none!important;
}
.es-course-list:hover .mask {
  display: block;
}
.cup li {
  height: 32px;
  line-height: 32px;
  margin: 5px 0;
}
.cup li.active a {
  color: #1b1464;
}
.es-r .ritem {
  background: #e6e6e6;
}
.es-r .ritem .rhd {
  position: relative;
  padding: 30px 0 10px 0;
}
.es-r .ritem .rhd .rtop {
  padding-left: 65px;
}
.es-r .ritem .rhd .rtop a {
  height: auto;
  position: absolute;
  left: 10px;
  top: 34px;
}
.es-r .ritem .rhd .rtop .name {
  color: #345b8d;
}
.es-r .ritem .rbd {
  line-height: 22px;
  color: #838f93;
  padding: 0 5px 15px 5px;
  font-size: 12px;
}
.es-r .ritem .rfd {
  color: #345b8d;
  padding: 0 0 15px 5px;
}
.rowmd li {
  border-bottom: 1px solid #efefef;
}
.rowmd li .rowdd {
  font-size: 16px;
  text-align: center;
  color: #345b8d;
  line-height: 36px;
}
.rowmd li .rowh3 {
  font-size: 16px!important;
  font-weight: bold;
  margin-bottom: 5px;
}
.rowmd li .rowp {
  color: #345b8d;
}
.m-ads img {
  width: 100%;
}
.ask-jb {
  border: none;
}
.ask-answer .no-jb {
  border: 1px  #cccccc;
  padding: 10px;
  margin-bottom: 20px;
}
.panel .pn-list-rc li {
  margin-right: 15px;
}
.m-box {
  background: #ffffff;
  padding-top: 10px;
}
.m-box .m-zx {
  display: block;
  border: 1px solid #838f93;
  height: 42px;
  line-height: 32px;
  text-align: center;
  width: 100%;
  color: #838f93;
  font-size: 18px;
  padding: 5px;
}
