<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,903},{418,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,92}}</string>
                <key>sourceSize</key>
                <string>{418,92}</string>
            </dict>
            <key>btn_begin_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,809},{418,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,92}}</string>
                <key>sourceSize</key>
                <string>{418,92}</string>
            </dict>
            <key>btn_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,900},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>btn_pause_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,589},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>btn_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,331},{237,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,74}}</string>
                <key>sourceSize</key>
                <string>{237,74}</string>
            </dict>
            <key>btn_replay_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,255},{237,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,74}}</string>
                <key>sourceSize</key>
                <string>{237,74}</string>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,179},{237,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,74}}</string>
                <key>sourceSize</key>
                <string>{237,74}</string>
            </dict>
            <key>btn_share_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,103},{237,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,74}}</string>
                <key>sourceSize</key>
                <string>{237,74}</string>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,809},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>btn_start_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,492},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>frame_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,407},{185,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,83}}</string>
                <key>sourceSize</key>
                <string>{185,83}</string>
            </dict>
            <key>killer_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{274,309}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{274,309}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>killer_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,323}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{274,323}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>killer_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{274,319}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{274,319}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>killer_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,323},{274,313}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,313}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>killer_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{258,297}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{258,297}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>pea.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,937},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>plant_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,971},{60,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,36}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>plant_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,660},{60,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,36}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>plant_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,937},{58,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,36}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>prop_invincible.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,452},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>prop_killer.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,407},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>sharepage.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,692},{461,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,115}}</string>
                <key>sourceSize</key>
                <string>{461,115}</string>
            </dict>
            <key>time_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,497},{56,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,98}}</string>
                <key>sourceSize</key>
                <string>{56,98}</string>
            </dict>
            <key>time_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,492},{78,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,98}}</string>
                <key>sourceSize</key>
                <string>{78,98}</string>
            </dict>
            <key>time_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,592},{73,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,98}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>time_begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{234,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,99}}</string>
                <key>sourceSize</key>
                <string>{234,99}</string>
            </dict>
            <key>word_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,937},{135,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,32}}</string>
                <key>sourceSize</key>
                <string>{135,32}</string>
            </dict>
            <key>word_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,971},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>zombie_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,597},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombieVsPlant.png</string>
            <key>size</key>
            <string>{793,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5e3790d5d6901ae50aebe7e7039ecbb:1/1$</string>
            <key>textureFileName</key>
            <string>zombieVsPlant.png</string>
        </dict>
    </dict>
</plist>
