<!DOCTYPE html>
<html lang="en">
<head>
    <title>上海麦忒育婴教育-全国顶尖育婴教育科研中心</title>

    <include file="Public:ui" />
<!-- mattservice.com Baidu tongji analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "//hm.baidu.com/hm.js?0f1613d9e02019a4ea5f6ff5f5926759";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
<include file="Public:pc-nav" />


<div class="container wrapper">
    <div class="alert alert-info" role="alert" style="margin-top: 20px;">
		<!--
		<p style="text-align:center; margin-bottom:30px; margin-top:20px;"><img src="__PUBLIC__/Home/images/gongsijieshao.jpg" /></p>
	
        <h3 style="margin:0 0 10px;">公司简介</h3>
        <p>上海麦忒教育科技有限公司是一家致力于0-3岁孩子家庭“生”、“养”、“教”研究和服务的专业机构。 自2005年成立以来，麦忒携手以朱家雄先生和张静芬女士领衔的40名中外顶级教育、保育专家，在“在对的时间做对的事情”的核心教育理念指导下 ，用保教结合的方式，为上万名中外孩子提供了个性化的关键期家庭教育和保育。</p>
		<p>麦 忒公司旗下拥有0到3岁婴幼儿脑力开发以及行为习惯研究中心、0 到3岁婴幼儿成长综合评测中心、0到3岁婴幼儿教具研发中心、0到3岁婴幼儿家庭服务机构、0到3岁社区儿童之家、0到3岁育婴职业技术培训学校、0到3岁家庭教养互联网科技研究中心。</p>
		<p>麦忒40多名中外专家，用毕生所学，结合密切跟踪的7362位0到3岁孩子的日常成长数据，历经十年持续性研究，研发出了具有自主知识产权的适合0到3岁孩子家庭生养教的整合育婴方案，以及0到3岁婴幼儿家庭成长交互系统—麦麦育儿机器人，和具有超过50项专利的带着操作系统的智能化0到3岁教玩具。</p>
		<p>麦忒将在0到3岁的教养事业的道路上坚持前行，将全新的家庭育儿方式和工具带进每一个0到3岁孩子的家庭中，立志于将“全国0到3岁的孩子，无论他是在贫困山区还是北上广深，无论是贫困还是富裕，无论妈妈是文盲还是博士都能接受到科学公平一致的教育”这一梦想变为可能。</p>
		<br /><br />
		<h3 style="margin:0 0 10px;">核心教育理念</h3>

		<p>1、对的时间做的对的事。</p>
		<p>2、0—3岁的教育的过程是日常生活中无处不教育，而且保教相结合。</p>
		<p>3、0—3岁孩子教育最好的学习场所是在家庭。</p>
		<p>4、0—3岁孩子的评测是通过每天对孩子反应的记录行程的趋势平均值，动态评测。</p>
		<p>5、0—3岁早期教育的对象是父母。</p>
		<br /><br />
		
		<h3 style="margin:0 0 10px;">研究方向</h3>

		<p>1 :0-3岁婴幼儿教育的国际趋势和方法</p>
		<p>2 :世界各国0-3岁婴幼儿教育的比较研究</p>
		<p>3 :0-3岁婴幼儿保育与教育的相结合研究</p>
		<p>4 :世界各国早期儿童教育机构运行方式和内容的比较研究</p>
		<p>5 :提高和完善个性化教育方案的研究</p>
		<p>6 :0-3岁婴幼儿教养人员的资格标准研究</p>
		<p>7 :在0-3岁教育、保育中，APP系统的高级互动性的研究</p>
		<p>8 :易于使用和鉴别的日常观察要点及记录指标系统</p>
		<p>9:建立科学、动态的评测体系的研究</p>
		<br /><br />
		
		<h3 style="margin:0 0 10px;">旗下机构</h3>

		<p>1：0到3岁婴幼儿脑力开发以及行为习惯研究中心</p>
		<p>2：0 到3岁婴幼儿成长综合评测中心</p>
		<p>3：0到3岁婴幼儿教具研发中心</p>
		<p>4：0到3岁婴幼儿家庭教育服务机构</p>
		<p>5：0到3岁育婴职业技术培训学校</p>
		<p>6：0到3岁家庭教养互联网科技研究中心</p>
		<p>7：麦忒好妈妈俱乐部</p>
		<p>8：麦忒儿童之家</p>
		<br /><br />
		
		<h3 style="margin:0 0 10px;">研究成果</h3>

		<p>1、具有自主知识产权的适合0到3岁孩子家庭生养教的整合育婴方案</p>
		<p>2、0到3岁婴幼儿成长评测系统以及工具</p>
		<p>3、早期教育机构课程体系</p>
		<p>4、一对一入户个性化早期教育课程</p>
		<p>5、0到3岁婴幼儿家庭成长交互系统—麦麦育儿机器人</p>
		<p>6、具有超过50项专利的带着操作系统的智能化0到3岁教玩具</p>
		<br /><br />
		
		<h3 style="margin:0 0 10px;">使命</h3>
		
		<p>麦忒将在0到3岁的教养事业的研究道路上坚持前行，不断的将全新有效的以父母为主导的信息化交互的家庭育儿方式、科学有效的早期教养方案以及 教育成长工具带进每一个0到3岁孩子的家庭中，陪伴万千宝贝和父母共同成长。在向家庭和孩子以及父母提供国际化高标准的中国原创教育的同时， 不忘社会责任，投身众多慈善公益，立志于将“全国0到3岁的孩子，无论他是在贫困山区还是北上广深，无论是贫困还 是富裕，无论妈妈是文盲还是博士都能接受到科学公平一致的教育”这一梦想变为可能。</p>
		-->
		<img src="__PUBLIC__/Home/images/about.jpg" style="width:100%;" />
    </div>
    <include file="Public:main-nav" />
    <a href="/">
        <img src="__PUBLIC__/Home/images/logo.png" width="300" style="display: block; margin: 20px auto;" alt="...">
    </a>
</div>

<include file="Public:footer" />
</body>
</html>