<!DOCTYPE html>
<html lang="en">
<head>
    <title>育婴服务</title>

    <include file="Public:ui" />
    <style>
        .con-box{background: #fff; padding: 20px; margin-bottom: 50px; box-shadow: 0 0 10px #ccc;}
        .con-box .row{margin-bottom: 20px;}
        .con-box .row img{display: block;}
        .con-box .row .text-box{padding:50px 20px;margin-left: 0; margin-right: 0; background: none; font-size:20px; }
        .con-box .row .text-box h3{margin: 0 0 15px;color: #e0ad32
        }
    </style>
<!-- mattservice.com Baidu tongji analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "//hm.baidu.com/hm.js?0f1613d9e02019a4ea5f6ff5f5926759";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body style="background: #f5f5f5;">
<include file="Public:pc-nav" />


<div class="container wrapper">
    <div class="alert alert-success" role="alert" style="margin-top: 20px;">
        <img src="__PUBLIC__/Home/images/logo.png"  width="200"  style="display: block; margin: 20px auto;" alt="...">
        <h3 class="text-center" >育婴服务</h3>
    </div>

    <div class="con-box">
		<img src="__PUBLIC__/Home/images/yyfw111.jpg" style="width:100%" />
		<img src="__PUBLIC__/Home/images/yyfw222.jpg" style="width:100%" />
		<img src="__PUBLIC__/Home/images/yyfw333.jpg" style="width:100%" />
		
		
		<div style="text-align: center; font-size: 24px; color: #7caf7f; border: 2px solid #91cc94; width: 300px; margin:20px auto; line-height: 50px;">麦忒育婴七大优势</div>
        <div class="row">

            <div class="col-lg-6">
                <div class="text-box row" style="background: none; border-radius:55px;">
                    <div class="col-xs-2">
                        <img src="__PUBLIC__/Home/images/1.png"   alt="...">
                    </div>
                    <div class="col-xs-10">
                        <h4 style="font-size: 28px; color: #3a6a49; margin: 0 0 15px;">服务内容合理化</h4>
                        <p>以育儿界泰斗朱家雄教授和《育婴师》教材编写者张静芬教授领衔的40多名儿保、产科、早教、营养、心理专家团队以及7362个家庭共同参与研发的家庭育婴服务内容方案，能更加贴近家庭实情，符合家庭的人文需求以及育儿要求。
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <img src="__PUBLIC__/Home/images/xd1.png"  style="display: block; " alt="...">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <img src="__PUBLIC__/Home/images/xd2.png"  style="display: block; " alt="...">
            </div>
            <div class="col-lg-6">
                <div class="text-box row" style="background: none; border-radius:55px;">
                    <div class="col-xs-2">
                        <img src="__PUBLIC__/Home/images/2.png"   alt="...">
                    </div>
                    <div class="col-xs-10">
                        <h4 style="font-size: 28px; color: #3a6a49; margin: 0 0 15px;">服务内容标准化</h4>
                        <p>
                            育婴师的电子工作手册--麦麦育儿机器人app，把每一天每一件服务人员应该做的事情都明确，并有易操作易懂的视频指导。解决了服务人员年纪大记忆不好，培训内容很难100%在岗实施，让客户受益。也解决了服务人员普遍存在的偷懒，能不做就不做的陋习问题。

                        </p>

                    </div>
                </div>
            </div>


        </div>

        <div class="row">

            <div class="col-lg-6">
                <div class="text-box row" style="background: none; border-radius:55px;">
                    <div class="col-xs-2">
                        <img src="__PUBLIC__/Home/images/3.png"   alt="...">
                    </div>
                    <div class="col-xs-10">
                        <h4 style="font-size: 28px; color: #3a6a49; margin: 0 0 15px;">服务监督透明化</h4>
                        <p>
                            育婴师的服务工具之一--麦麦育儿机器人app,能让客户无论身在何处都能知道育婴人员今天为孩子做了什么做的怎么样，有监督的服务品质就是不一样，同时还可以对他评价。

                        </p>

                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <img src="__PUBLIC__/Home/images/xd3.png"  style="display: block; " alt="...">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <img src="__PUBLIC__/Home/images/xd4.png"  style="display: block; " alt="...">
            </div>

            <div class="col-lg-6">
                <div class="text-box row" style="background: none; border-radius:55px;">
                    <div class="col-xs-2">
                        <img src="__PUBLIC__/Home/images/4.png"   alt="...">
                    </div>
                    <div class="col-xs-10">
                        <h4 style="font-size: 28px; color: #3a6a49; margin: 0 0 15px;">服务结果数据化</h4>
                        <p>
                            育婴服务工具之一--麦麦育儿机器人app，能根据服务人员每天的工作记录，以及对孩子点选的观测点，每月能生成13个纬度的孩子成长报表，以及与上海平均水平的对比让妈妈可以看到在我育婴方案持续服务与干预下成长的结果。


                        </p>

                    </div>
                </div>
            </div>


        </div>

        <div class="row">

            <div class="col-lg-6">
                <div class="text-box row" style="background: none; border-radius:55px;">
                    <div class="col-xs-2">
                        <img src="__PUBLIC__/Home/images/5.png"   alt="...">
                    </div>
                    <div class="col-xs-10">
                        <h4 style="font-size: 28px; color: #3a6a49; margin: 0 0 15px;">服务支持个性化</h4>
                        <p>
                            育婴服务工具之一--麦麦育儿机器人app里的“专家咨询”可以让您在服务过程中遇到任何孩子的生理、病理、智力等困扰时得到专家及时有效的在线帮助和支持，更加可以在您看到孩子的发育报表时，提供一些个性化的成长教育建议，让您安心做妈妈。

                        </p>

                    </div>
                </div>
            </div>
            <hr>
            <div class="col-lg-6">
                <img src="__PUBLIC__/Home/images/xd5.png"  style="display: block; " alt="...">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <img src="__PUBLIC__/Home/images/xd6.png"  style="display: block; " alt="...">
            </div>
            <div class="col-lg-6" style="margin-top: 50px;">
                <div class="text-box row" style="background: none; border-radius:55px;">
                    <div class="col-xs-2">
                        <img src="__PUBLIC__/Home/images/6.png"   alt="...">
                    </div>
                    <div class="col-xs-10">
                        <h4 style="font-size: 28px; color: #3a6a49; margin: 0 0 15px;">服务工具信息化</h4>
                        <p>
                            每个育婴师入户除了根据不同月龄的孩子护理需要用到的护理工具外，更带有原创的育婴师电子工作手册--麦麦育儿机器人app，给他有效的工作帮助与支持，让孩子受益。

                        </p>

                    </div>
                </div>
            </div>


        </div>
		
		<div class="row">



            <div class="col-lg-12">
                <img src="__PUBLIC__/Home/images/yy7.png"  style="display: block; margin: auto; " alt="...">
            </div>
        </div>


        <div style="text-align: center; font-size: 24px; color: #7caf7f; border: 2px solid #91cc94; width: 300px; margin:50px auto; line-height: 60px;">why | 我们怎么做？</div>
        <div class="row">

            <div class="col-lg-6">
                <div class="text-box row" style="background: #91cc94; border-radius:55px;">
                    <div class="col-xs-2">
                        <img src="__PUBLIC__/Home/images/1.png"   alt="...">
                    </div>
                    <div class="col-xs-10">
                        <h4 style="font-size: 28px; color: #3a6a49; margin: 0 0 15px;">评测调研</h4>
                        <p>
                            没有对孩子和家庭的充分了解和评测，就说“我们有阿姨适合你”都是扯蛋！就 派一个阿姨去你家，都是对你和孩子不负责任的行为。都是在拿孩子的健康、安 全、成长碰运气。
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <img src="__PUBLIC__/Home/images/w1.png"  style="display: block; " alt="...">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <img src="__PUBLIC__/Home/images/w2.png"  style="display: block; " alt="...">
            </div>
            <div class="col-lg-6">
                <div class="text-box row" style="background: #91cc94; border-radius:55px;">
                    <div class="col-xs-2">
                        <img src="__PUBLIC__/Home/images/2.png"   alt="...">
                    </div>
                    <div class="col-xs-10">
                        <h4 style="font-size: 28px; color: #3a6a49; margin: 0 0 15px;">确立服务方案，明确具体服务内容
                        </h4>
                        <p>
                            个性化的育婴服务方案以及明确的服务内容，把服务内容透明化数据化。让每一 个家庭明明白白消费，让每一个孩子健康快乐长大。

                        </p>

                    </div>
                </div>
            </div>


        </div>

        <div class="row">

            <div class="col-lg-6" style="margin-top: 30px;">
                <div class="text-box row" style="background: #91cc94; border-radius:55px;">
                    <div class="col-xs-2">
                        <img src="__PUBLIC__/Home/images/3.png"   alt="...">
                    </div>
                    <div class="col-xs-10" >
                        <h4 style="font-size: 28px; color: #3a6a49; margin: 0 0 15px;">针对性个性化入户前培训</h4>
                        <p>
                            每一个家庭每一个孩子都与众不同，统一的培训只会大大降低服务人员进户的适 应性和客户的满意度。根据客户情况在入户前进行量身定制的岗前培训，有助于 服务人员和客户的彼此的满意度提升。

                        </p>

                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <img src="__PUBLIC__/Home/images/w3.png"  style="display: block; " alt="...">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <img src="__PUBLIC__/Home/images/w4.png"  style="display: block; " alt="...">
            </div>

            <div class="col-lg-6" style="margin-top:50px;">
                <div class="text-box row" style="background: #91cc94; border-radius:55px;">
                    <div class="col-xs-2">
                        <img src="__PUBLIC__/Home/images/4.png"   alt="...">
                    </div>
                    <div class="col-xs-10" style="">
                        <h4 style="font-size: 28px; color: #3a6a49; margin: 0 0 15px;">规范的操作流程管理</h4>
                        <p>
                            良好的结果来自于过程的一丝不苟以及规范。视频、图片文字的时时提醒和示范 ，让服务人员在服务过程中不断自我学习和成长以及约束。


                        </p>

                    </div>
                </div>
            </div>


        </div>

        <div class="row">

            <div class="col-lg-6">
                <div class="text-box row" style="background: #91cc94; border-radius:55px;">
                    <div class="col-xs-2">
                        <img src="__PUBLIC__/Home/images/5.png"   alt="...">
                    </div>
                    <div class="col-xs-10">
                        <h4 style="font-size: 28px; color: #3a6a49; margin: 0 0 15px;">透明的工作记录管理</h4>
                        <p>
                            您在外，育婴师对您宝宝做了什么，什么没有做，用数据事实说话，让您方便监 督一切尽在掌握。

                        </p>

                    </div>
                </div>
            </div>
            <hr>
            <div class="col-lg-6">
                <img src="__PUBLIC__/Home/images/w5.png"  style="display: block; " alt="...">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <img src="__PUBLIC__/Home/images/w6.png"  style="display: block; " alt="...">
            </div>
            <div class="col-lg-6">
                <div class="text-box row" style="background: #91cc94; border-radius:55px;">
                    <div class="col-xs-2">
                        <img src="__PUBLIC__/Home/images/6.png"   alt="...">
                    </div>
                    <div class="col-xs-10">
                        <h4 style="font-size: 28px; color: #3a6a49; margin: 0 0 15px;">量化的服务结果
                        </h4>
                        <p>
                            服务的好不好用宝贝成长数据讲话，我们用结果对您负责。

                        </p>

                    </div>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-lg-6">
                <img src="__PUBLIC__/Home/images/w7.png"  style="display: block; " alt="...">
            </div>
            <div class="col-lg-6">
                <div class="text-box row" style="background: #91cc94; border-radius:55px;">
                    <div class="col-xs-2">
                        <img src="__PUBLIC__/Home/images/1.png"   alt="...">
                    </div>
                    <div class="col-xs-10">
                        <h4 style="font-size: 28px; color: #3a6a49; margin: 0 0 15px;">及时有效专家在线客服支持

                        </h4>
                        <p>
                            遇到解决不了的育儿难题，疑惑、时时在线的儿保、早教、营养专家为您排忧解 难。


                        </p>

                    </div>
                </div>
            </div>


        </div>
		<!--
			<div class="row">
				

                <div class="col-lg-6">
                    <div class="text-box" style="border:none; font-size:18px;">
						<p>0-3岁是宝宝人生的起点,是Ta身体发育的第一个关键期,健康的营养,合理的养育直接决定宝宝日后的成长,麦忒实行”一个宝宝一个育儿专家团队,一个宝宝一套个性化成长方案”的服务模式,有麦忒专家团队上门为您的宝宝坐测评,并根据宝宝量身定制个性化的家庭绿色育婴整合方案.</p>
                        <p>　</p>
						<p>为您宝宝特别定制的”宝贝成长手册”内容细化到宝宝每一天的三餐两点,游戏单,认知教育计划,音乐欣赏,故事欣赏,以及运动内容,您还可以记录下您与宝宝的点点滴滴以及ta的每一个成长瞬间,这都成为日后一份最珍贵及美好的珍藏!</p>
                       
                    </div>
                </div>
				<div class="col-lg-6">
                    <img src="__PUBLIC__/Home/images/huli0.jpg"  style="display: block; border-top-right-radius:95px;  border-bottom-left-radius:95px; " alt="...">
                </div>
			</div>
	
			<div class="row">

                <div class="col-lg-7">
                    <img src="__PUBLIC__/Home/images/huli (1).jpg"  style="display: block; border-top-left-radius:95px;  border-bottom-right-radius:95px; " alt="...">
                </div>

                <div class="col-lg-5">
                    <div class="text-box" style="border:none; font-size:18px;">
						<p>　</p>
                        <p> 1、妈妈身体清洁</p>
                        <p> 2、协助医生做好产后开奶</p>
                        <p> 3、协助宝宝实现安全健康的母乳喂养</p>
                        <p> 4、帮助妈妈乳房按摩，保持乳腺畅通</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5">
                    <div class="text-box" style="border:none; font-size:18px;">
						<p>　</p>
                        <p>5、为妈妈做好哺乳前后的清洁工作</p>
                        <p>6、妈妈乳头皲裂的预防</p>
                        <p>7、日常按摩减缓妈妈喂奶后身体酸痛,促进血液循环</p>
                        <p>8、产后妈妈腹带使用（剖腹产7-10天后）</p>
                    </div>
                </div>

                <div class="col-lg-7">
                    <img src="__PUBLIC__/Home/images/huli.jpg"  style="display: block;   border-top-left-radius:95px;  border-bottom-right-radius:95px;" alt="...">
                </div>
            </div>


            <div class="row">
                <div class="col-lg-7">
                    <img src="__PUBLIC__/Home/images/huli (3).jpg"  style="display: block;   border-top-left-radius:95px;  border-bottom-right-radius:95px;" alt="...">
                </div>
                <div class="col-lg-5">
                    <div class="text-box" style="border:none; font-size:18px;">
                        <p>9、每日做好会阴伤口的护理</p>
                        <p>10、妈妈每日体温测量与监控</p>
                        <p>11、协助做好产褥期恶露排除，日常观察伤口复原情况</p>
                        <p>12、烹饪可口的月子餐</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="text-box" style="border:none; font-size:18px;">
                        <p>13、帮助妈妈产后情绪疏导，愉快的度过整个月子</p>
                        <p>14、 产妇每日房间做好清洁整理</p>
                        <p>15、 产妇的衣物及时换洗</p>
                        <p>16、 妇产科专家每月测评一次，及时帮助妈妈解决碰到的产科问题</p>
                        <p>17、 中医营养师上门把脉，根据妈妈体质，提供个性专属的月子餐（每日食谱）</p>
                        <p>18、纤体顾问上门指导，协助妈妈形体修复，成为时尚辣妈</p>
                    </div>
                </div>

                <div class="col-lg-5">
                    <img src="__PUBLIC__/Home/images/huli (4).jpg"  style="display: block;  border-top-left-radius:95px;  border-bottom-right-radius:95px; " alt="...">
                </div>
            </div>
-->
        

   
        
    </div>

    <include file="Public:main-nav" />
    <a href="/">
        <img src="__PUBLIC__/Home/images/logo.png" width="300" style="display: block; margin: 20px auto;" alt="...">
    </a>
</div>

<include file="Public:footer" />
</body>
</html>