<include file="public:admin_top"/>

<body>
<div class="pd-20" style="padding-top:20px;">
    <p class="f-20 text-success">网站后台管理系统v2.2</p>


    <table class="table table-border table-bordered table-bg mt-20">
        <thead>
        <tr>
            <th colspan="2" scope="col">服务器信息</th>
        </tr>
        </thead>
        <tbody>
        <volist name="info" id="v">
            <tr>
                <th width="200">{$key}</th>
                <td>{$v}</td>
            </tr>
        </volist>
        <tr>
            <th width="200">Author</th>
            <td>Glenn Zhou</td>
        </tr>
        <tr>
            <th width="200">QQ</th>
            <td><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=458712&site=qq&menu=yes"><img border="0"
                                                                                                       src="http://wpa.qq.com/pa?p=2:458712:51"
                                                                                                       alt="承接各类网站建设。"
                                                                                                       title="承接各类网站建设。 联系人：老周。手机：170-021-70777"/></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer class="footer">
    <p>Copyright &copy;2015 Glenn Zhou All Rights Reserved.</p>
</footer>
<script type="text/javascript" src="__H-UI__/lib/jquery.min.js"></script>
<script type="text/javascript" src="__H-UI__/lib/Validform_v5.3.2.js"></script>
<script type="text/javascript" src="__H-UI__/lib/layer1.9/layer.js"></script>
<script type="text/javascript" src="__H-UI__/lib/laypage/laypage.js"></script>
<script type="text/javascript" src="__H-UI__/js/H-ui.js"></script>
<script type="text/javascript" src="__H-UI__/js/H-ui.admin.js"></script>
<script type="text/javascript" src="__H-UI__/js/H-ui.admin.doc.js"></script>
</body>
</html>