<include file="public:admin_top" />
<body>
	<nav class="breadcrumb">
		<i class="iconfont">&#xf012b;</i>
		首页
		<span class="c-gray en">&gt;</span>
		模块管理
		<span class="c-gray en">&gt;</span>
		报名信息
		<a class="btn btn-success radius r mr-20" style="line-height: 1.6em; margin-top: 3px" href="javascript:location.replace(location.href);" title="刷新">
			<i class="icon-refresh"></i> 刷 新
		</a>
	</nav>
	<div class="pd-20">
		<div class="text-c" style="display:none;">
			<input type="text" name="" id="" placeholder="文章标题" style="width: 250px" class="input-text">
			<button name="" id="" class="btn btn-success" type="submit">
				<i class="icon-search"></i>
				搜索
			</button>
		</div>
		<div class="cl pd-5 bg-1 bk-gray mt-20" style="border-bottom: none;">
			<span class="l">
		
				<a href="javascript:;" onclick="del_message_all()" class="btn btn-danger radius">
					<i class="icon-trash"></i>
					批量删除
				</a>
			</span>
			<span class="r">
				共有数据：
				<strong>{$total}</strong>
				条
			</span>
		</div>
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="25">
						<input type="checkbox" name="" value="">
					</th>
					<th>姓名</th>
					<th>手机</th>
					<th>邮箱</th>
					<th>内容</th>
					<th>留言时间</th>
					<th width="70">操作</th>
				</tr>
			</thead>
			<tbody>
				<volist name="message" id="vo">
				<tr class="text-c">
					<td>
						<input type="checkbox" value="{$vo.id}" name="id">
					</td>
					<td>{$vo.name}</td>
					<td>{$vo.mobile}</td>
					<td>{$vo.email}</td>
					<td>{$vo.content}</td>
					<td>{$vo.create_time|to_date='Y-m-d H:i'}</td>
					<td class="f-14 article-manage">
						<a class="ml-10" href="javascript:delmessage({$vo.id});" title="删除">
							<i class="icon-trash"></i>
						</a>
					</td>
				</tr>
				</volist>
			</tbody>
		</table>
		<div class="pagebar">{$page}</div>
	</div>
	<script type="text/javascript" src="__H-UI__/lib/jquery.min.js"></script>
	<script type="text/javascript" src="__H-UI__/lib/layer1.9/layer.js"></script>
	<script type="text/javascript" src="__H-UI__/lib/laypage/laypage.js"></script>
	<script type="text/javascript" src="__H-UI__/lib/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript" src="__H-UI__/lib/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="__H-UI__/js/H-ui.js"></script>
	<script type="text/javascript" src="__H-UI__/js/H-ui.admin.js"></script>
	<script type="text/javascript" src="__H-UI__/js/H-ui.admin.doc.js"></script>
	<script type="text/javascript" src="__H-UI__/js/glenn.js"></script>
	
	<script type="text/javascript">
		function delmessage(id)
		{
			$.ajax({
			    type: "POST",
			    url: "__URL__/message_del",
			    data: "id="+id,
			    success: function(msg){
			    	layer.msg('删除成功！',{icon: 1});
			    	setTimeout('location.reload()',1000); 
			    }
			});
		}
		
		function del_message_all(){
			str = '';
			$('input[name="id"]:checked').each(function(){
				str += $(this).val()+','; 
			}); 
			if(str==''){
				layer.msg('您还未选择任何内容！',{icon: 2});
				return false;
			}
			$.ajax({
			    type: "POST",
			    url: "__URL__/del_message_all",
			    data: "ids="+str,
			    success: function(msg){
			    	layer.msg('批量删除成功！',{icon: 1});
			    	setTimeout('location.reload()',1000); 
			    }
			});
		}
		
	</script>
	
	
</body>
</html>