<include file="public:admin_top" />
<body>
	<nav class="breadcrumb">
		<i class="iconfont">&#xf012b;</i>
		首页
		<span class="c-gray en">&gt;</span>
		系统管理
		<span class="c-gray en">&gt;</span>
		修改密码
		<a class="btn btn-success radius r mr-20" style="line-height: 1.6em; margin-top: 3px" href="javascript:location.replace(location.href);" title="刷新">
			<i class="icon-refresh"></i> 刷 新
		</a>
		<a class="btn btn-primary radius r mr-20" style="line-height: 1.6em; margin-top: 3px" href="javascript:history.back();" title=返回">
			<i class="icon-circle-arrow-left"></i> 返 回
		</a>
	</nav>
	<div class="pd-20">
		<form action="{:U('Index/save_modify_password')}" onsubmit="return checkform();" method='post'>
		<table class='form-table'>
			<tr>
				<th>原密码</th>
				<td><input type='text' name='oldpw' id="oldpw" class='s-input' /></td>
			</tr>
			<tr>
				<th>新密码</th>
				<td><input type='text' name='newpw1' id='newpw1' class='s-input' /></td>
			</tr>
			<tr>
				<th>重复新密码</th>
				<td><input type='text' name='newpw2' id='newpw2' class='s-input' /></td>
			</tr>
			<tr>
				<th>&nbsp;</th>
				<td>
					<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;确 定&nbsp;&nbsp;">
				</td>
			</tr>	
		</table>
		</form>
	</div>
	<script type="text/javascript" src="__H-UI__/lib/jquery.min.js"></script>
	<script type="text/javascript" src="__H-UI__/lib/layer1.9/layer.js"></script>
	<script type="text/javascript" src="__H-UI__/lib/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript" src="__H-UI__/js/H-ui.js"></script>
	<script type="text/javascript" src="__H-UI__/js/H-ui.admin.js"></script>
	<script type="text/javascript" src="__H-UI__/js/H-ui.admin.doc.js"></script>

   
   	<script type="text/javascript">
   		function checkform(){
   			oldpw  = $('#oldpw').val();
   			newpw1 = $('#newpw1').val();
   			newpw2 = $('#newpw2').val();
   			
   			if(oldpw==''){
   				layer.msg('请输入原密码！',{icon: 2});
   				$('#oldpw').focus();
   				return false;
   			}
   			if(newpw1==''){
   				layer.msg('请输入新密码！',{icon: 2});
   				$('#newpw1').focus();
   				return false;
   			}
   			if(newpw2==''){
   				layer.msg('请重复输入原密码！',{icon: 2});
   				$('#newpw2').focus();
   				return false;
   			}
   			if(newpw1 != newpw2){
   				layer.msg('两次输入新密码不一致！',{icon: 2});
   				$('#newpw2').focus();
   				return false;
   			}
   		}
   	</script>
</body>
</html>