<include file="public:admin_top" />
<body>
	<nav class="breadcrumb">
		<i class="iconfont">&#xf012b;</i>
		首页
		<span class="c-gray en">&gt;</span>
		产品管理
		<span class="c-gray en">&gt;</span>
		修改产品
		<a class="btn btn-success radius r mr-20" style="line-height: 1.6em; margin-top: 3px" href="javascript:location.replace(location.href);" title="刷新">
			<i class="icon-refresh"></i> 刷 新
		</a>
		<a class="btn btn-primary radius r mr-20" style="line-height: 1.6em; margin-top: 3px" href="javascript:history.back();" title=返回">
			<i class="icon-circle-arrow-left"></i> 返 回
		</a>
	</nav>
	<div class="pd-20">
		<form action="{:U('Index/save_product_edit')}" method='post'>
		<table class='form-table'>
			<tr>
				<th>产品名称</th>
				<td><input type='text' name='title' class='l-input' value="{$product[0]['title']}" /></td>
			</tr>
			<tr>
				<th>所属分类</th>
				<td>
					<select name="cid" class="select">
						<option value=''>-- 请选择所属分类 --</option>
						<volist name="categoryTR" id="vo">
						<option value="{$vo.id}" <eq name="product[0]['cid']" value="$vo.id">selected</eq> >{$vo.count|nums2blank} {$vo.catename}</option>
						</volist>
					</select>
				</td>
			</tr>

			<tr>
				<th>SEO关键词</th>
				<td>
					<input type='text' name="seo_key" class='l-input' value="{$product[0]['seo_key']}" />
					<span class='tip'>关键词用英文逗号 “ , ” 隔开</span>
				</td>
			</tr>
			<tr>
				<th>SEO描述</th>
				<td>
					<textarea class='simple-textarea' name="seo_description">{$product[0]['seo_key']}</textarea>
				</td>
			</tr>

			<tr>
				<th>图片</th>
				<td>
					<input type="hidden" name="image" id="imghidden"  value="{$product[0]['image']}" />
					<span id='uploadbtn' <notempty name="product[0]['image']">style="display:none;"</notempty>>
						<input id="file_upload" name="file_upload" type="file" multiple="true">
					</span>
					<div id='imgbox'>
						<notempty name="product[0]['image']">
							<?php
								$arr = explode(",",$product[0]['image']);
								for($i=0;$i<sizeof($arr);$i++){
							?>
							<div class="l" style="margin-right:3px;">
			        			<img src="__PUBLIC__/Upload/Uploadify/product/<?php echo $arr[$i]?>" style='width:120px; height:80px; border:1px solid #ccc; padding:2px;' />
		        				<a href='javascript:;' rel="<?php echo $arr[$i]?>" style="border:1px solid #ddd;background:#fff; display:block; width:124px; margin-top:2px; text-align:center;">删 除</a>
							</div>
							<?php }?>
		        		</notempty>
					</div>
				</td>
			</tr>
			<tr>
				<th>是否推荐</th>
				<td>
					<input type='radio' name="is_tuijian" value='1' <eq name="product[0]['is_tuijian']" value="1">checked</eq> />是 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type='radio' name="is_tuijian" value='0' <eq name="product[0]['is_tuijian']" value="0">checked</eq> />否
				</td>
			</tr>
			<tr>
				<th>产品详情</th>
				<td>
					<textarea id='editor' name="content" type="text/plain" style="width:800px; height:500px;">{$product[0]['content']}</textarea>
				</td>
			</tr>
	
			<tr>
				<th>显示顺序</th>
				<td><input type='text' class='s-input' name="psort" value="{$product[0]['psort']}" /></td>
			</tr>
			<tr>
				<th>&nbsp;</th>
				<td>
					<input type='hidden' name='aid' value="{$product[0]['aid']}" id='aid' />
					<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;确 定&nbsp;&nbsp;">
				</td>
			</tr>	
		</table>
		</form>
	</div>
	<script type="text/javascript" src="__H-UI__/lib/jquery.min.js"></script>
	<script type="text/javascript" src="__H-UI__/lib/layer1.9/layer.js"></script>
	<script type="text/javascript" src="__H-UI__/lib/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript" src="__H-UI__/js/H-ui.js"></script>
	<script type="text/javascript" src="__H-UI__/js/H-ui.admin.js"></script>
	<script type="text/javascript" src="__H-UI__/js/H-ui.admin.doc.js"></script>
	
	<!-- 编辑器 -->
	<script type="text/javascript" charset="utf-8" src="__UED__/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__UED__/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__UED__/lang/zh-cn/zh-cn.js"></script>
    
    <!-- 上传组件 -->
    <script src="__PUBLIC__/Uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Uploadify/uploadify.css">
    
    <script type="text/javascript">
    	var ue = UE.getEditor('editor');
		var ue2 = UE.getEditor('editor2');
    </script>
    
    <!-- 上传组件 -->
    <script type="text/javascript">
		
    	//上传图片
    	<?php $timestamp = time();?>
		$(function() {
			var inputimgval = $("#imghidden").val();
			$('#file_upload').uploadify({
				'formData'       : {
					'timestamp'   : '<?php echo $timestamp;?>',
					'token'       : '<?php echo md5('unique_salt' . $timestamp);?>',
					'upload_path' : '/Public/Upload/Uploadify/product'	
				},
				'swf'            : '__PUBLIC__/Uploadify/uploadify.swf',
				'uploader'       : '__PUBLIC__/Uploadify/uploadify.php',
				'buttonText'     : "选择图片",
				'multi'          : true ,
				'fileSizeLimit'  : '2000KB',
				'fileTypeExts'   : '*.gif; *.jpg; *.png; *.jpeg',
				'onUploadSuccess':function(file,data,response){
					$("#imgbox").append("<img src='__PUBLIC__/Upload/Uploadify/product/"+data+"' style='width:120px; height:80px; border:1px solid #ccc; padding:2px;' />");
					inputimgval += ','+data;
					$('#imghidden').attr('value',inputimgval);
                },
			});


			//删除图片
			$("#imgbox a").click(function(){
				var id = $("#aid").val();
				var s  = $(this).attr('rel');
				if(confirm('你确定要删除该图片？')){
					$.ajax({
						type: "POST",
						url: "__URL__/product_img_del",
						data: "id="+id+"&str="+s,
						success: function(msg){
							layer.msg('删除图片成功！',{icon: 1});
							location.reload();
						}
					});
				}
			});

			//删除说明书
			$("#fjdel").click(function(){
				var id = $("#aid").val();
				var s  = $(this).attr('rel');
				if(confirm('你确定要删除该说明书？')){
					$.ajax({
						type: "POST",
						url: "__URL__/product_fujian_del",
						data: "id="+id+"&str="+s,
						success: function(msg){
							layer.msg('删除说明书成功！',{icon: 1});
							location.reload();
						}
					});
				}
			});


			//上传说明书
			$('#file_upload2').uploadify({
				'formData'       : {
					'timestamp'   : '<?php echo $timestamp;?>',
					'token'       : '<?php echo md5('unique_salt' . $timestamp);?>',
					'upload_path' : '/Public/Upload/Uploadify/product'
				},
				'swf'            : '__PUBLIC__/Uploadify/uploadify.swf',
				'uploader'       : '__PUBLIC__/Uploadify/uploadify.php',
				'buttonText'     : "选择文件",
				'multi'          : true ,
				'fileSizeLimit'  : '2000KB',
				'fileTypeExts'   : '*.zip; *.rar; *.doc; *.pdf',
				'onUploadSuccess':function(file,data,response){
					$('#fujianhidden').attr('value',data);
				},

			});

		});



		
	</script>
</body>
</html>