

<div class="main-nav row container">
    <div class="col-xs-3" style="padding:0">
        <a href="/zhouji"><img src="__PUBLIC__/Home/images/nav1.png" alt="..."></a>
    </div>
    <div class="col-xs-3" style="padding:0">
        <a href="/huli"><img src="__PUBLIC__/Home/images/nav2.png" alt="..."></a>
    </div>
    <div class="col-xs-3" style="padding:0">
        <a href="/mamashouce"><img src="__PUBLIC__/Home/images/nav3.png" alt="..."></a>
    </div>
    <div class="col-xs-3" style="padding:0">
        <a href="/fuwu"><img src="__PUBLIC__/Home/images/nav4.png" alt="..."></a>
    </div>
</div>

