<style>
    body{font-family: '微软雅黑';}
</style>

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" style="background: rgba(0, 0, 0, 0.77);">
    <div class="container">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="padding-left:0; margin-top: -10px;"> <img src="__PUBLIC__/Home/images/logo.png" width="90" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				
                <ul class="nav navbar-nav">
                    <li><a href="/zhouji">怀孕周记</a></li>
                    <li><a href="/huli">月嫂服务</a></li>
                    <li><a href="/mamashouce">妈妈手册</a></li>
                    <li><a href="/fuwu">育婴服务</a></li>
                    <li><a href="/discover">萌萌绘本</a></li>
                    
					<li><a href="/about">公司介绍</a></li>
                    <li><a href="/fenxiang">客户分享</a></li>
                    <li><a href="/news">新闻</a></li>
                    <li><a href="/research">小调查</a></li>
                    <li><a href="/join" id="joinmatt">加盟麦忒</a></li>
					<li style="padding-left:30px; line-height:50px; color:rgb(173,211,177); font-weight:bold; font-size:16px;">
						上海:021-51022333　　成都:028-65272659
					</li>
                </ul>
		

                <!--去掉下面注释是登录前：只显示登录按钮-->

                <!--
                <div class="nav navbar-nav navbar-right">
                     <a class="btn navbar-btn btn-sm btn-info" href="/home/user/login.html">登 录</a>
                </div>
                -->


                <!--&lt;!&ndash;登陆后的个人中心&ndash;&gt;-->
                <!--<ul class="nav navbar-nav navbar-right hidden-xs">-->
                    <!--<li class="dropdown" >-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> 个人中心<span class="caret"></span></a>-->
                        <!--<div class="dropdown-menu" style="padding: 20px; text-align: center;">-->
                            <!--<img src="__PUBLIC__/Home/images/icon.jpg" width="80" alt="" class="img-circle">-->
                            <!--<a href="/home/user/" class="btn btn-info btn-block" style="margin-top: 20px;">进入个人中心</a>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->

                <!--<ul class="nav navbar-nav navbar-right visible-xs" style="border-top: 1px solid #ccc;">-->
                    <!--<li >-->
                        <!--<div  style="padding: 20px; text-align: center;">-->
                            <!--<img src="__PUBLIC__/Home/images/icon.jpg" width="100" alt="" class="img-circle">-->
                            <!--<a href="/home/user/" class="btn btn-info btn-block" style="margin-top: 20px;">进入个人中心</a>-->
                        <!--</div>-->
                    <!--</li >-->
                <!--</ul>-->


            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>
</nav>


<!--当前样式-->
<script>
    $(document).ready(function(){
        $('.navbar-collapse .navbar-nav li a').each(function(){
            if($($(this))[0].href==String(window.location))
                $(this).parent().addClass('active');
        });
    })

    var i = 0;

    function getColor() {
        i++;
        switch (i) {
            case 1: return "#a7cf38";
            case 2: return "#22b34c";
            case 3: return "#fba71a";
            default: return "white";
        }
    }

    function colorful() {
        var o = document.getElementById('joinmatt');
        o.style.color = getColor();

        if (i == 3) i = 0;
        setTimeout('colorful()', 1000);
    }

    colorful();

</script>
