    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="__PUBLIC__/Home/ui/bootstrap/style/bootstrap.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="__PUBLIC__/Home/ui/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="__PUBLIC__/Home/ui/bootstrap/js/bootstrap.js"></script>

    <link rel="stylesheet" href="__PUBLIC__/Home/style/public.css">



